            <footer class="site-footer">
                <div class="container">
                    <div class="indent-35-md indent-20-sm">
                      <div class="row">
                        <div class="col-md-4 col-xs-12 indent-20-sm">
                          Адрес<br>
                          Москва, дер. Румянцево, дв. 4, с. 1,2
                        </div>
                        <div class="col-md-2 col-xs-6">
                          Часы работы<br>
                          с 10:00 до 21:00
                        </div>
                        <div class="col-md-2 col-xs-6">
                          Телефон<br>
                          8 (495) 644-22-44
                        </div>
                        <div class="col-md-offset-1 col-md-3 col-sm-offset-0 col-xs-12 copyright hidden-sm hidden-xs">
                          © 2015 Мебель Park.<br>
                          Все права защищены.
                        </div>
                      </div>
                    </div>
                    <ul class="social indent-20-sm">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-vk"></i></a></li>
                      <li><a href="#"><i class="fa fa-odnoklassniki"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                      <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                      <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                    </ul>
                    <div class="copyright hidden-lg hidden-md">
                      © 2015 Мебель Park.<br>
                      Все права защищены.
                    </div>
                  </div>
                </div>
            </footer>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3I-ISuSuURzyS_iru5aFKHx5U_TtHobI" async defer></script>
        <script src="https://use.fontawesome.com/4d7b082d35.js"></script>
        <script src="js/external.js"></script>
        <script src="js/internal.js"></script>
