<div class="modal fade" id="consultation" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <svg class="icon icon-cross" data-dismiss="modal" aria-label="Закрыть"><use xlink:href="#icon-cross"></use></svg>
      <div class="modal-body">
        <form>
          <div class="input-block">
            <input type="tel" class="phone">
            <span class="input-block-placeholder">Телефон</span>
          </div>
          <div class="input-block">
            <input type="email" class="email">
            <span class="input-block-placeholder">E-mail</span>
          </div>
          <div class="input-block indent-60">
            <input type="text" class="time">
            <span class="input-block-placeholder">Удобное время</span>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-default btn-42">Записаться</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
