.btn {
  font-family: $font-family;
  font-size: 16px;
  padding: 12px 23px;
  text-decoration: none !important;
  @include transition(all .3s ease);

  &-default {
    background: $btn-default-bg;
    border: 2px solid $btn-default-bg;
    color: #fff;
    border-radius: 30px;
    font-weight: 600;

    &:hover {
      color: #fff;
      border: 2px solid $btn-default-bg-hover;
      background: $btn-default-bg-hover;
    }
    &:focus,
    &:active,
    &:active:hover,
    &:focus:active,
    &:active:focus {
      color: #fff;
      border: 2px solid $btn-default-bg-hover;
      background: $btn-default-bg-hover;
      @include box-shadow(none);
    }
    &.empty {
      background: transparent;
      color: $btn-default-bg;
      border: 4px solid $btn-default-bg;

      &:hover {
        color: $btn-default-bg-hover;
        border: 4px solid $btn-default-bg-hover;
        background: transparent;
      }
      &:focus,
      &:active,
      &:active:focus {
        color: $btn-default-bg-hover;
        border: 4px solid $btn-default-bg-hover;
        background: transparent;
        @include box-shadow(none);
      }
    }
  }
  &-primary {
    background: $btn-primary-bg;
    border: 2px solid $btn-primary-bg;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    font-weight: 600;

    &:hover {
      color: #fff;
      border: 2px solid $btn-primary-bg-hover;
      background: $btn-primary-bg-hover;
    }
    &:focus,
    &:active,
    &:active:focus {
      color: #fff;
      border: 2px solid $btn-primary-bg-hover;
      background: $btn-primary-bg-hover;
      @include box-shadow(none);
    }
    &.empty {
      background: transparent;
      color: $btn-primary-bg;
      border: 4px solid $btn-primary-bg;

      &:hover {
        color: $main-color;
        border: 4px solid #fff;
        background: #fff;
      }
      &:focus,
      &:active,
      &:active:focus {
        color: $main-color;
        border: 4px solid #fff;
        background: #fff;
        @include box-shadow(none);
      }
    }
  }
  @for $btn from 20 through 100 {
    @if $btn % 2 == 0 {
      &.btn-#{$btn} {
        padding-left: $btn#{'px'};
        padding-right: $btn#{'px'};

        &-md {
          @media screen and (min-width: $screen-md) {
            padding-left: $btn#{'px'};
            padding-right: $btn#{'px'};
          }
        }
        &-sm {
          @media screen and (max-width: $screen-sm-max) {
            padding-left: $btn#{'px'};
            padding-right: $btn#{'px'};
          }
        }
        &-xs {
          @media screen and (max-width: $screen-xs-max) {
            padding-left: $btn#{'px'};
            padding-right: $btn#{'px'};
          }
        }
      }
    }
  }
}
