.btn {
  font-family: $font-family;
  font-size: 16px;
  padding: 12px 23px;
  text-decoration: none !important;
  @include transition(all .3s ease);

  &-default {
    background: $btn-default-bg;
    border: 2px solid $btn-default-bg;
    color: #fff;
    border-radius: 30px;
    font-weight: 600;

    &:hover {
      color: #fff;
      border: 2px solid $btn-default-bg-hover;
      background: $btn-default-bg-hover;
    }
  }
}
