html, body {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: 400;
  height: 100%;
  min-width: 300px;
}
a {
  @include transition(all .3s linear);
}
button,
input,
textarea,
a {
  outline: none !important;
}

.wrapper {
  height: 100%;
  padding-top: 100px;

  @media screen and (max-width: $screen-sm-max) {
    padding-top: 80px;
  }
}
.bg {
  &-white {
    background: #fff;
  }
}
.col{
  &-md {
    @media screen and (min-width: $screen-md) {
      &-2 {
        &-5 {
          width: 20%;
        }
      }
    }
  }
}
.fs {
  @for $fs from 12 through 70 {
    @if $fs % 2 == 0 {
      &-#{$fs} {
        font-size: $fs#{'px'};

        &-md {
          @media screen and (min-width: $screen-md) {
            font-size: $fs#{'px'};
          }
        }
        &-sm {
          @media screen and (max-width: $screen-sm-max) {
            font-size: $fs#{'px'};
          }
        }
        &-xs {
          @media screen and (max-width: $screen-xs-max) {
            font-size: $fs#{'px'};
          }
        }
      }
    }
  }
}
.indent {
  @for $indent from 10 through 100 {
    @if $indent % 5 == 0 {
      &-#{$indent} {
        margin-bottom: $indent#{'px'};

        &-md {
          @media screen and (min-width: $screen-md) {
            margin-bottom: $indent#{'px'};
          }
        }
        &-sm {
          @media screen and (max-width: $screen-sm-max) {
            margin-bottom: $indent#{'px'};
          }
        }
        &-xs {
          @media screen and (max-width: $screen-xs-max) {
            margin-bottom: $indent#{'px'};
          }
        }
      }
    }
  }
  &-0 {
    &-md {
      @media screen and (min-width: $screen-md) {
        margin-bottom: 0;
      }
    }
    &-sm {
      @media screen and (max-width: $screen-sm-max) {
        margin-bottom: 0;
      }
    }
    &-xs {
      @media screen and (max-width: $screen-xs-max) {
        margin-bottom: 0;
      }
    }
  }
}
.text {
  &-uppercase {
    text-transform: uppercase;
  }
  &-semibold {
    font-weight: 600;

    &-tablet {
      @media screen and (max-width: $screen-sm-max) {
        font-weight: 600;
      }
    }
  }
  &-bold {
    font-weight: 700;

    &-tablet {
      @media screen and (max-width: $screen-sm-max) {
        font-weight: 700;
      }
    }
  }
  &-extrabold {
    font-weight: 800;

    &-tablet {
      @media screen and (max-width: $screen-sm-max) {
        font-weight: 800;
      }
    }
  }
  &-purple {
    color: $main-color;
  }
  &-green {
    color: $secodn-color;
  }
  &-white {
    color: #fff;
  }
  &-black {
    color: #000;
  }
}
.flex {
  @include flexbox;

  &-1 {
    flex: 1;

    &-1 {
      flex: 1.1;
    }
    &-2 {
      flex: 1.2;
    }
    &-3 {
      flex: 1.3;
    }
  }
  &-desktop {
    @media screen and (min-width: $screen-md) {
      @include flexbox;
    }
  }
  &-swap {
    display: inline-flex;
    @include flex-direction(row-reverse);
    @include flex-wrap(wrap-reverse);

    &-tablet {
      @media screen and (max-width: $screen-sm-max) {
        display: inline-flex;
        @include flex-direction(row-reverse);
        @include flex-wrap(wrap-reverse);
      }
    }
  }
}
.flex-wrap {
  @include flex-wrap(wrap);

  &-tablet {
    @media screen and (max-width: $screen-sm-max) {
      @include flex-wrap(wrap);
    }
  }
}
.align-items {
  &-center {
    @include align-items(center);
  }
}
.align-content{
  &-center {
    @include align-content(center);
  }
  &-stretch {
    @include align-content(stretch);
  }
}
.no {
  &-padding {
    &-r {
      padding-right: 0;
    }
    &-l {
      padding-left: 0;
    }
    &-v {
      padding-top: 0;
      padding-bottom: 0;
    }
    &-h {
      padding-right: 0;
      padding-left: 0;
    }
    &-b {
      &-mobile {
        @media screen and (max-width: $screen-xs) {
          padding-bottom: 0 !important;
        }
      }
    }
  }
  &-margin {
    &-r {
      margin-right: 0;
    }
    &-l {
      margin-left: 0;
    }
    &-t {
      margin-top: 0;
    }
    &-b {
      margin-bottom: 0;
    }
    &-v {
      margin-top: 0;
      margin-bottom: 0;
    }
    &-h {
      margin-right: 0;
      margin-left: 0;
    }
  }
  &-indent {
    margin-bottom: 0;

    &-mobile {
      @media screen and (max-width: $screen-xs) {
        margin-bottom: 0;
      }
    }
  }
}
.relative {
  position: relative;
}

.content-indent {
  &-left {
    padding-left: 60px;

    &-30 {
      padding-left: 30px;
    }
    @media screen and (max-width: $screen-sm-max) {
      padding-left: 15px;

      &-30 {
        padding-left: 15px;
      }
    }
  }
  &-right {
    padding-right: 60px;

    @media screen and (max-width: $screen-sm-max) {
      padding-right: 15px;
    }
  }
}
