.stock {
  &-slider {
    .slick-track {
      @include flexbox();
    }
    .slick-list {
      margin: 0 -10px;
      padding: 10px 0;

      @media screen and (max-width: $screen-xs) {
        margin: 0 30px;
      }
    }
  }
  &-block {
    text-decoration: none !important;
    background: #fff;
    margin: 0 10px;
    border-radius: 15px;
    @include box-shadow(0 1px 3px 0 rgba(0,0,0,.3));

    &:hover {
      .content .title {
        color: $main-color;
      }
    }
    &.single {
      max-width: 620px;
      margin: 0 auto;

      .thumbnail {
        border-radius: 15px 15px 0 0;
        max-height: 300px;
      }
      .content {
        padding: 30px 80px 100px;

        .promotion-time {
          position: static;
          margin-bottom: 45px;

          li {
            font-size: 18px;
            color: #EB5942;

            &:after {
              position: relative;
              top: 2px;
            }
          }
        }
        p {
          margin-bottom: 25px;
        }
      }
      @media screen and (max-width: $screen-xs-max) {
        max-width: none;
        width: calc(100% + 30px);
        margin: 0 -15px;
        border-radius: 0;

        .thumbnail {
          border-radius: 0;
        }
        .content {
          padding: 30px 15px;

          .promotion-time {
            margin-bottom: 20px;

            li{
              &:nth-child(2):after {
                display: none;
              }
              &:last-child {
                margin-top: 10px;
              }
            }
          }
        }
      }
    }
    .thumbnail {
      max-height: 220px;
      overflow: hidden;

      img {
        min-width: 100%;
      }
    }
    .content {
      padding: 15px 20px 13px;
      min-height: 200px;
      position: relative;

      .title {
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        margin-bottom: 10px;
        display: block;
        text-decoration: none !important;
        color: #000;
        @include transition(all .3s ease);
      }
      .description {
        color: #000;
      }
      .promotion-time {
        position: absolute;
        bottom: 13px;
        left: 0;
        right: 0;
        text-align: center;

        li {
          display: inline-block;
          position: relative;
          font-size: 14px;
          color: rgba(0,0,0,.4);

          &:after {
            content: '';
            display: inline-block;
            width: 2px;
            height: 20px;
            background: rgba(0,0,0,.2);
            margin: 0 10px;
            position: relative;
            top: 4px;
          }
          &:last-child:after {
            display: none;
          }
        }
      }
    }
  }
  &-head {
    max-width: 620px;
    margin: 0 auto;
    position: relative;

    .back {
      position: absolute;
      bottom: -38px;
      left: 0;
    }
  }
}
