img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: underline;
  @include transition(all .3s ease);

  &.link {
    color: $text-color;
    text-decoration: none;

    &:hover {
      color: $link-color;
    }
  }
  &.hover {
    color: $link-hover-color;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family;
  color: $head-color;
}
h1 {
  font-size: 47px;
}
h2 {
  font-size: 36px;

  @media screen and (max-width: $screen-sm-max) {
    line-height: 52px;
  }
}
h3 {
  font-size: 22px;

  @media screen and (max-width: $screen-sm-max) {
    font-size: 32px;
  }
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 13px;
}
p {
  color: $text-color;
  font-size: $font-size;
  line-height: 19px;

  @for $lh from 12 through 100 {
    @if $lh % 2 == 0 {
      &.lh-#{$lh} {
        line-height: $lh#{'px'};

        &-md {
          @media screen and (min-width: $screen-md) {
            line-height: $lh#{'px'};
          }
        }
        &-sm {
          @media screen and (max-width: $screen-sm-max) {
            line-height: $lh#{'px'};
          }
        }
        &-xs {
          @media screen and (max-width: $screen-xs-max) {
            line-height: $lh#{'px'};
          }
        }
      }
    }
  }
}
strong {
  font-weight: 700;
}
ol {
  li {
    margin: 0 0 10px;
  }
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
input,
textarea,
select {
  width: 100%;
  padding: 20px 25px 13px;
  outline: none !important;
  @include transition(all .5s ease);

}
select {
  -webkit-appearance: none;
}
textarea {
  resize: none;
}
hr {
  &.tablet {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.title {

}
.nav-tabs {
  li {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }
    &.active {
      a {
        @include opacity(1);
        background: #fff;
        border: 4px solid #fff;
        color: $main-color;
      }
    }
    a {
      display: inline-block;
      border: 4px solid;
      color: #fff;
      font-size: 22px;
      line-height: 30px;
      text-decoration: none;
      padding: 6px 32px;
      border-radius: 35px;

      @include opacity(.6);

      &:hover {
        @include opacity(1);
      }
    }
  }
}
.tab {
  &-content {

  }
  &-pane {
    display: none;
    @include transition(all .5s ease);

    &.active {
      display: block;
    }
  }
}
.input-block {
  position: relative;
  margin-bottom: 45px;

  &-placeholder {
    position: absolute;
    top: 17px;
    left: 0;
    font-size: 16px;
    color: #757575;
    pointer-events: none;
    @include transition(all .5s ease);
  }
  &[class*="col-"] {
    .input-block-placeholder {
      left: 40px;
    }
    input,
    textarea,
    select {
      padding-left: 25px;
      padding-right: 25px;
    }

  }
  &.active {
    .input-block-placeholder {
      top: 7px;
      font-size: 13px;
      color: #7A7A7A;
    }
  }
  &.valid {
    input,
    textarea,
    select {
      border-bottom: 1px solid #61BE2A;
    }
  }
  &.invalid {
    input,
    textarea,
    select {
      border-bottom: 1px solid #F94C4C;
    }
  }
  input,
  textarea,
  select {
    border: 0;
    border-bottom: 1px solid #CECECE;
    font-size: 18px;
    color: #383838;
    padding: 25px 0 7px;
  }
}
